@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");

.leaflet-popup-content p {
  margin: 0;
}

/* Marker Div Icons */

.icon {
  width: 1.2em !important;
  height: 1.2em !important;

  border-radius: 50%;
  border: 1px solid;
}

.close-icon {
  background-color: var(--chakra-colors-red-400);
  border-color: var(--chakra-colors-red-600);
}

.casual-icon {
  background-color: var(--chakra-colors-orange-400);
  border-color: var(--chakra-colors-orange-600);
}

.lowrisk-icon {
  background-color: var(--chakra-colors-yellow-400);
  border-color: var(--chakra-colors-yellow-600);
}